.main {
  min-height: 340px;
  .time {
    justify-content: space-around;
    .time__btn {
      height: 20%;
      max-height: 100px;
      min-width: 140px;
      padding-left: 5px;
      padding-right: 5px;

      font-size: 20px;
    }
  }
  .counter-section {
    .counter-section--circle {
      margin-bottom: 5px;
      .counter-section--circle__svg {
        width: 190px;
        height: 190px;
      }
    }
    .counter-section__countdown-numbers {
      top: 35%;
    }
  }
}
