$primary-color: white;

* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/beach_Moment.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .time {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .time__btn {
      width: 35%;
      height: 10%;
      border: 2px solid $primary-color;
      border-radius: 5px;
      background-color: transparent;
      color: $primary-color;
      font-size: 28px;
      transition: 0.2s;
      &:hover {
        background-color: $primary-color;
        color: black;
        cursor: pointer;
      }
    }
  }
  .counter-section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .counter-section--circle {
      position: absolute;
      .counter-section--circle__svg {
        width: 350px;
        circle {
          stroke: white;
        }
      }
    }
    .counter-section__controls {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:active {
        .counter-section__controls--play svg path {
          fill: lightgray;
        }
        .counter-section__controls--pause svg rect {
          fill: lightgray;
        }
      }
      .counter-section__controls--play {
        position: absolute;
      }
      .counter-section__controls--pause {
        position: absolute;
      }
    }
    .counter-section__countdown-numbers {
      position: relative;
      top: 30%;
      color: $primary-color;
      font-size: 48px;
    }
  }
  .hidden {
    visibility: hidden;
  }
}
